<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Yamobil</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta
		name="robots" content="all,follow">

		<!-- Bootstrap CSS-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
		<!-- Font Awesome CSS-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<!-- Google fonts - Roboto-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
		<!-- Bootstrap Select-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.5/css/bootstrap-select.min.css">
		<!-- Custom CSS -->
		<link rel="stylesheet" href="{{ asset('css/style.default.css') }}">
		<link rel="stylesheet" href="{{ asset('css/custom.css') }}"> {% block stylesheets %}{% endblock %}
		<!-- Favicon icons-->
    	<link rel="shortcut icon" href="{{ asset('images/favicon.ico') }}" type="image/x-icon">
        <!-- Javascript files-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js" defer></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.5/js/bootstrap-select.min.js" defer></script>
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/popper.min.js" defer></script> -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" defer></script>

		{% block javascripts %}{% endblock %}

	</head>


	<body>




			<div id="all">
				{{ include ('topbar.html.twig') }}
				{{ include ('navbar.html.twig') }}
                {% block body %}{% endblock %}
				{{ include ('footer.html.twig') }}
			</div>

		</body>
		
	</html>
